<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" verbose="1">
<!--<suite name="Suite" verbose="1" parallel="classes" thread-count="20">-->

    <listeners>
        <listener class-name="pkg_utility_retry.MyRetryListener"/>
    </listeners>


    <test name="Regression1">
        <classes>
            <class name="pkg_utility_fixtures.CommonSteps"/>
            <class name="pkg_testrunner.TestRunnerFramework_DataDriven"/>
        </classes>
    </test>

<!--    <test name="Regression2_DataProvider">-->
<!--        <classes>-->
<!--            <class name="pkg_utility_fixtures.CommonSteps"/>-->
<!--            <class name="pkg_testrunner.TestNGDataProviderExample"/>-->
<!--        </classes>-->
<!--    </test>-->

</suite>
